NEXT_PUBLIC_APP_NAME="api-web"
NEXT_PUBLIC_APP_URL="http://localhost:3000"


#better auth
BETTER_AUTH_SECRET=2Z3PnAprWNB3ZorfAuD53znVXIguARRn
BETTER_AUTH_URL=http://localhost:3000 

# github
GITHUB_CLIENT_ID=Ov23ligMV6HwW8c7MT7i
GITHUB_CLIENT_SECRET=9b6820ae02bb928f487975eeeb0c18bc0c230fa7

# database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres




